@using Prodora.Entitys
@model Prodora.WebUI.Models.ProductListModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<link href="~/css/home-index.css" rel="stylesheet" />

<!-- SLIDER -->
@await Html.PartialAsync("_slider")

<div class="main-container">
    <div class="content-grid">
        <aside class="category-sidebar">
            <div class="category-title">Kategoriler</div>
            <ul class="category-list">
                @await Component.InvokeAsync("CategoryList")
            </ul>
        </aside>
        <main class="products-section">
            <div class="products-grid">
                @if (Model.Products != null && Model.Products.Count > 0)
                {
                    @foreach (Product product in Model.Products)
                    {
                        <partial name="_products" for="@product" />
                    }
                }
                else
                {
                    <p>Ürün Bulunamadı.</p>
                }
            </div>
        </main>
    </div>
</div>